.section {
    padding: 2rem;
    background-color: rgba(201, 201, 201, 0.52);
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
}

.info__title{
    font-size: clamp(1.1rem, 0.8rem + 1.3714vw, 2rem);
    font-weight: 600;
}

.info__text{

}

@media (width <= 768px) {
    .section {
        padding: 2rem 1rem;
    }
}

@media (width <= 450px) {
    .section {
        padding: 2rem .5rem;
    }
}