header {
    position: relative;
    z-index: 1;
    background: var(--bg-color-main);
    padding: 0.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.69);
}

.header__container {
    display: grid;
    grid-template: 1fr / 1fr auto 1fr;
    align-items: center;
    gap: 2rem;
    max-width: 1440px;
    padding: 0 2rem;
    margin: 0 auto;
}

.header__logo {
    cursor: default;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo__text {
    font-size: clamp(1rem, 0.4286rem + 1.1905vw, 1.2rem);
    font-family: var(--accent-font);
    font-weight: bold;
}

.header__nav {
    justify-self: center;
    font-size: 1.2rem;
}

.nav__list {
    display: flex;
    gap: max(1rem, 2rem);
}

.header__auth {
    justify-self: right;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__auth_links {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.auth__link {
    padding: 1rem 0;
    display: flex;
    gap: .5rem;
    color: currentColor;
    transition: text-shadow 0.3s, color 0.4s;
}

.auth__link:hover {
    color: #868686;
}

.auth__link:focus-visible {
    outline: 2px solid black;
}

.auth__icon {
}

.header__account {
    justify-self: right;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.account__link {

}

.account__logOutBtn {
    border-radius: 1rem;
    font-size: inherit;
    padding: 0.5rem 1rem;
}

.header__burger {
    right: 0;
    position: fixed;
    display: none;
}

.burger__button {
    cursor: pointer;
    padding: 1rem;
}

.burger__button .button__bar {
    display: block;
    background: var(--main-color);
    margin: 0.5rem 0;
    width: 2rem;
    height: 3px;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out, opacity 0.1s linear;
}

.burger__button.active .button__bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.burger__button.active .button__bar:nth-child(2) {
    opacity: 0;
}

.burger__button.active .button__bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

.burger__popup {
    padding: 1rem;
    position: fixed;
    inset: 0 0 0 0;
    background: #b9b9b9;
    z-index: -1;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.burger__popup.active {
    transform: translateX(0);
}

.popup__auth {
    display: none;
}

.burger__auth{
    justify-self: right;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.burger__account{
    justify-self: right;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.popup__logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.popup__nav {
   display: flex;
}

.popup__list {
    display: flex;
    flex-direction: column;

}

@media (width <= 1100px) {
    .header__container {
        grid-template: 1fr / auto 1fr auto;
    }

    .header__nav {
        display: none;
    }


    .header__burger {
        margin-left: auto;
        display: flex;
    }

    .header__auth, .header__account {
        margin-left: auto;
    }
}

@media (width <= 700px) {
    .header__account, .header__auth{
        display: none;
    }
    .popup__auth {
        display: block;
    }
}
