.account__card{
    border: 2px solid black;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.09);
    padding: 2rem;
    max-width: 60%;
    margin: 1rem auto;
    display: grid;
    grid-template: auto 1fr / 1fr;
    gap: 1rem;
}

.account__title{
    font-size: var(--title-fontSize);
    margin-bottom: 2rem;
}

.account__control {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.account__link{
    width: 100%;
    text-align: center;
    color: black;
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.account__link:hover{
    color: #868686;
}

.account__logOut{
    font-size: inherit;
    margin-top: auto;
    color: black;
    border: 2px solid currentColor;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.account__logOut:hover{
    color: darkred;
}

@media (width <= 768px) {
    .account__card {
        padding: 1rem;
        max-width: 100%;
    }
}

@media (width <= 450px) {
    .account__card {
        padding: .5rem;
    }
}