html,body{
    height: 100%;
    font-size: var(--main-fontSize);
    color: var(--main-color);
    font-family: var(--main-font);
}

#root{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    position: relative;
    background: url("../assets/image/background.jpg");
    min-height: calc(100vh - 100px);
    flex: 1 1 auto;
    display: grid;
    grid-template: repeat(auto-fit, minmax(auto, 1fr)) / 1fr;
    gap: 2rem;
}


