.footer {
    padding: 1rem;
    min-height: 50px;
    background: var(--bg-color-main);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.69);
}

.footer__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-areas:
    "logo nav ."
    "social . ."
    "info . name";
    gap: 1rem;
}

.footer__logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo__imgContainer {
    width: 67px;
    height: 50px;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.logo__title {
    font-family: var(--accent-font);
    font-weight: bold;
}

.footer__nav {
    grid-area: nav;
}

.nav__list {

}

.footer__social {
    padding: 1rem 0;
    grid-area: social;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social__link {
    font-size: 1.2rem;
    color: currentColor;
    transition: color 0.3s;
}

.social__link:hover {
    color: #5e5e5e;
}

.footer__info {
    font-size: 0.8rem;
    grid-area: info;
}

.footer__name {
    align-self: end;
    grid-area: name;
}

@media (width <= 900px) {
    .footer__container {
        grid-template-areas:
    "logo . nav"
    "social . ."
    "info info info"
    ". . name"
    }

    .footer__name {
        margin-left: auto;
    }
}

@media (width <= 700px) {
    .footer__container {
        padding: 0 1rem;
        grid-template-areas:
    "nav nav"
    "logo social"
    "info info"
    " name name"
    }
}

@media  (width <= 500px) {
    .footer__container {
        padding: 0 .5rem;
        grid-template-areas:
    "nav"
    "logo"
    "social"
    "info"
    "name";
        gap: 2rem;
    }
    .footer__name{
        margin: 0;
    }
    .footer__social {
        flex-direction: row;
    }
}